body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #quiz {
    width: 50%;
    margin: 0 auto;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  .answer {
    display: block;
    margin-bottom: 5px;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  