/* Basic styles */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

header {
	background-color: #00BFFF;
	color: white;
	padding: 20px;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: white;
	text-decoration: none;
}

section {
	padding: 50px;
	margin-bottom: 20px;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

ol {
	margin: 0;
	padding-left: 20px;
}

li {
	margin-bottom: 10px;
}

.btn {
	background-color: #009acd;
	color: white;
	padding: 10px; 
}